.cont {
  width: 100%;
  padding: 0 2rem;
  background: #f7444e;
  display: flex;
  color: #f7f8f3;
  align-items: center;
  justify-content: space-between;
  z-index: 200;
}

.cont p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.cont a {
  text-decoration: none;
  color: #f7f8f3;
}

.iconCont {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.icon,
.iconCont a {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconCont a {
  text-decoration: none;
  color: #f7f8f3;
  /* transition: all 0.3s ease-out; */
}

.iconCont a:active,
.iconCont a:hover,
.active {
  border-top: 4px solid #f7f8f3;
}

@media (max-width: 400px) {
  .cont {
    padding: 0 0.5rem;
  }

  .icon {
    padding: 0 0.5rem;
  }

  .cont p {
    font-size: 18px;
  }

  .icon,
  .iconCont a {
    padding: 0 0.5rem;
  }
}

@media (min-width: 401px) and (max-width: 756px) {
  .cont {
    padding: 0 1rem;
  }

  .cont p {
    font-size: 20px;
  }

  .icon {
    padding: 0 1rem;
  }
}
