.cont {
  display: grid;
  grid-template-columns: 40% 57%;
  padding: 1rem;
  column-gap: 1rem;
  padding-top: 0;
  overflow-y: scroll;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0.5rem 1rem;
}

.heading {
  font-size: 20px;
  padding: 1rem 0;
  margin: 1rem 0;
  border-bottom: 2px solid #f7444e;
  color: #f7444e;
}

.textarea {
  min-width: 100%;
  min-height: 80px;
  max-width: 100%;
  border-radius: 4px;
  padding: 16px 14px;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border: 1px solid #ccc;
}

.textarea:focus {
  outline-color: rgb(25, 118, 210) !important;
  outline-width: 1px;
}

.previewCont {
  padding: 0.5rem 1rem;
}

.shortPrev {
  border: 1px solid #ccc;
  height: 430px;
  border-radius: 4px;
  position: relative;
}

.addBtn {
  position: absolute;
  bottom: -24px;
  padding: 1rem;
  background: #f7444e;
  border: none;
  color: #f7f8f3;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  transition: all 0.5s ease-out;
  border: 1px solid #f7444e;
  z-index: 121;
  font-family: "Poppins", sans-serif;
}

.addBtn:hover {
  color: #f7444e;
  background: #f7f8f3;
}

@media (max-width: 756px) {
  .cont {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    column-gap: 1rem;
    overflow-y: scroll;
  }

  .previewCont {
    margin-bottom: 1.5rem;
  }

  .content {
    padding: 0;
  }
}
