.cont {
  display: grid;
  grid-template-columns: 55% 43%;
  padding: 1rem;
  column-gap: 1rem;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
}

.heading {
  font-size: 20px;
  padding: 1rem 0;
  margin: 1rem 0;
  border-bottom: 2px solid #f7444e;
  color: #f7444e;
}

.previewCont {
  padding: 1rem 0;
}

.textarea {
  width: 100%;
  min-height: 24px;
  max-width: 100%;
  border-radius: 4px;
  padding: 16px 14px;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border: 1px solid #ccc;
}

.textarea:focus {
  outline-color:  rgb(25,118,210) !important;
  outline-width: 1px;
}
