.cont {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.cont a {
  text-decoration: none;
  color: #f7444e;
  padding: 1rem;
  transition: all 0.5s ease-out;
}

.img {
  height: 50%;
}

.cont a:hover {
  background: #f7444e;
  color: #f7f8f3;
}

@media (max-width: 756px) {
  .img {
    height: 25%;
  }
}
